.page {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;

  @media screen and (max-width: 767px) {
    background-image: url('~/assets/images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;

    &::before {
      background: linear-gradient(
        to bottom,
        var(--primary-1),
        var(--primary-2)
      );
      content: '';
      display: block;
      height: 100%;
      left: 0;
      opacity: 0.5;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
    }

    .logo-container {
      display: none;
    }
  }

  .auth-form {
    width: 100%;
    display: grid;
    justify-items: center;

    .title {
      color: var(--white-1);
    }

    .form-container {
      margin-top: 70px;
      width: 85%;
    }
  }
}
