.page {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  grid-template-areas: 'logo authform';
  grid-template-columns: 1fr 1fr;

  @media screen and (max-width: 767px) {
    background-image: url('~/assets/images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    grid-template-areas:
      'logo'
      'authform'
      '.';
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-columns: 1fr;

    &::before {
      background: linear-gradient(
        to bottom,
        var(--primary-1),
        var(--primary-2)
      );
      content: '';
      display: block;
      height: 100%;
      left: 0;
      opacity: 0.5;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
    }
  }

  .logo-container {
    grid-area: logo;

    h1 {
      color: var(--white-1);
    }
  }

  .auth-form {
    grid-area: authform;
    width: 100%;
    display: grid;
    justify-items: center;

    .title {
      color: var(--white-1);
    }

    .form-container {
      width: 85%;
    }
  }
}
