@import 'https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

*,
::after,
::before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

body {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  height: 100vh;
  width: 100%;
  position: fixed;
}

svg {
  height: 1rem;
  margin-left: 2px;
  margin-top: 2px;
}
