.page {
  background-image: url('~/assets/images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  height: 100%;
  place-items: center;
  position: relative;
  width: 100%;
  z-index: 1;

  &::before {
    background: linear-gradient(to bottom, var(--primary-1), var(--primary-2));
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  .auth-form {
    display: grid;
    max-width: 500px;
    place-items: center;
    width: 100%;

    .form-container {
      opacity: 1;
      width: 85%;
    }
  }
}
