.form-container {
  background-color: var(--white-1);
  border-radius: 15px;
  padding: 15px;

  h2 {
    margin-bottom: 0.25rem;
    text-align: center;
  }

  form {
    .input-row {
      margin-bottom: 15px;
    }

    .forgot-password {
      color: inherit;
      cursor: pointer;
      display: grid;
      justify-content: end;
      padding-top: 10px;
      text-decoration: none;

      &:hover {
        color: var(--primary-1);
      }
    }
  }

  .form-footer {
    border-top: 1px solid var(--white-12);
    font-size: 14px;
    margin-top: 20px;
    padding-top: 10px;
    text-align: center;

    a {
      color: var(--primary-2);
      font-weight: 600;
      text-decoration: none;
    }
  }
}
