.form-container {
  background-color: var(--white-1);
  border-radius: 15px;
  padding: 15px;

  h2 {
    margin-bottom: 0.25rem;
    text-align: center;
  }

  form {
    .input-row {
      margin-bottom: 15px;
    }

    .forgot-password {
      color: inherit;
      cursor: pointer;
      display: grid;
      justify-content: end;
      padding-top: 10px;
      text-decoration: none;

      &:hover {
        color: var(--primary-1);
      }
    }
  }
}
