.form-container {
  background-color: var(--white-1);
  border-radius: 15px;
  padding: 15px;

  h2 {
    margin-bottom: 0.25rem;
    text-align: center;
  }

  form {
    .input-row {
      margin-bottom: 15px;
    }

    .checkmark-container {
      align-items: baseline;
      cursor: pointer;
      display: flex;
      font-size: 14px;
      user-select: none;

      input[type='checkbox'] {
        margin-right: 5px;
      }
    }

    button {
      background-color: var(--primary-1);
      border-radius: 0.25rem;
      border: 1px solid var(--primary-1);
      color: var(--white-1);
      cursor: pointer;
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.5;
      margin-top: 10px;
      padding: 0.375rem 0.75rem;
      width: 100%;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

      &:disabled {
        border-color: var(--primary-1);
        cursor: not-allowed;
        opacity: 0.5;
        pointer-events: none;
      }
    }

    .forgot-password {
      color: inherit;
      cursor: pointer;
      display: grid;
      justify-content: end;
      padding-top: 10px;
      text-decoration: none;

      &:hover {
        color: var(--primary-1);
      }
    }
  }
}
